PORT=3000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_NAME=labmanager_db
DB_USER=postgres
DB_PASSWORD=cici1604
JWT_SECRET=
JWT_EXPIRES_IN=7d
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=